<div ng-cloak>
    <div class="row">
        <div class="col-md-4">
            <span class="hipster img-responsive img-rounded"></span>
        </div>
        <div class="col-md-8">
            <h3 translate="main.title">Welcome to a Spring & Angular Demo Application</h3>

            <p>
                The application is a simple bookmarks application using  the following Technology Stack
            <ul>
                <li>Spring Boot</li>
                <li>MongoDB</li>
                <li>AngularJS</li>
                <li>Etc</li>
            </ul>
            </p>


            <div ng-switch="isAuthenticated()">
                <div class="alert alert-success" ng-switch-when="true" translate="main.logged.message"
                     translate-values="{username: '{{account.login}}'}">
                    You are logged in as user "{{account.login}}".
                </div>
                <div class="alert alert-warning" ng-switch-when="false">
                    You don't have an account yet? Contact Khayeni to get access.
                </div>
            </div>

        </div>
    </div>
</div>
