
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myBookmarkLabel" translate="reeposApp.bookmark.home.createOrEditLabel">Create or edit a Bookmark</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label class="control-label" translate="reeposApp.bookmark.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                    ng-model="bookmark.title"
                    required />
            <div ng-show="editForm.title.$invalid">
                <p class="help-block"
                    ng-show="editForm.title.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="reeposApp.bookmark.description" for="field_description">Description</label>
            <textarea type="text" class="form-control" name="description" id="field_description"
                    ng-model="bookmark.description"
                    required />
            <div ng-show="editForm.description.$invalid">
                <p class="help-block"
                    ng-show="editForm.description.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="reeposApp.bookmark.location" for="field_location">Location</label>
            <input type="text" class="form-control" name="location" id="field_location"
                    ng-model="bookmark.location"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reeposApp.bookmark.priority" for="field_priority">Priority</label>
            <input type="number" class="form-control" name="priority" id="field_priority"  min="1" max="3"
                    ng-model="bookmark.priority"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="reeposApp.bookmark.dateCreated" for="field_dateCreated">DateCreated</label>
            <input id="field_dateCreated" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="bookmark.dateCreated" is-open="datePickerForDateCreated.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForDateCreatedOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
