
<div>
    <h2><span translate="reeposApp.bookmark.detail.title">Bookmark</span> {{bookmark.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="reeposApp.bookmark.title">Title</span>
                </td>
                <td>
                    <span class="form-control-static">{{bookmark.title}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="reeposApp.bookmark.description">Description</span>
                </td>
                <td>
                    <span class="form-control-static">{{bookmark.description}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="reeposApp.bookmark.location">Location</span>
                </td>
                <td>
                    <span class="form-control-static">{{bookmark.location}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="reeposApp.bookmark.priority">Priority</span>
                </td>
                <td>
                    <span class="form-control-static">{{bookmark.priority}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="reeposApp.bookmark.dateCreated">DateCreated</span>
                </td>
                <td>
                    <span class="form-control-static">{{bookmark.dateCreated | date:'mediumDate'}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
