<div>
    <jh-alert></jh-alert>
    <!-- <div class="container">  -->
    <div class="row">
        <!--
        <div class="col-md-4">
            <h3 translate="reeposApp.bookmark.home.title">Bookmarks</h3>
          </div>
          -->
        <div class="col-md-12">
            <h3 translate="reeposApp.bookmark.home.title">Bookmarks</h3>
            <button class="btn btn-primary btn-sm pull-right" ui-sref="bookmark.new">
                <span class="glyphicon glyphicon-plus"></span> <span translate="reeposApp.bookmark.home.createLabel">Create a new Bookmark</span>
            </button>
        </div>
    </div>
    <!-- </div>  -->

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr jh-sort="predicate" ascending="reverse" callback="reset()">
                <!--<th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th> -->
                <th jh-sort-by="title"><span translate="reeposApp.bookmark.title">Title</span> <span
                        class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="description"><span translate="reeposApp.bookmark.description">Description</span> <span
                        class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="location"><span translate="reeposApp.bookmark.location">Location</span> <span
                        class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="priority"><span translate="reeposApp.bookmark.priority">Priority</span> <span
                        class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="dateCreated"><span translate="reeposApp.bookmark.dateCreated">DateCreated</span> <span
                        class="glyphicon glyphicon-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
            <tr ng-repeat="bookmark in bookmarks track by bookmark.id">
                <!-- <td><a ui-sref="bookmark.detail({id:bookmark.id})">{{bookmark.id}}</a></td>  -->
                <td>{{bookmark.title}}</td>
                <td>{{bookmark.description}}</td>
                <td>{{bookmark.location}}</td>
                <td>{{bookmark.priority}}</td>
                <td>{{bookmark.dateCreated | date:'mediumDate'}}</td>
                <td>
                    <button type="submit"
                            ui-sref="bookmark.detail({id:bookmark.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit"
                            ui-sref="bookmark.edit({id:bookmark.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                            translate="entity.action.edit"> Edit</span>
                    </button>
                    <button type="submit"
                            ui-sref="bookmark.delete({id:bookmark.id})"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                            translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
